body {
    display: flex;
    flex-direction: column;
}
.header {
    border: 1px solid red;
    background-color: greenyellow;
    height: 100px;
}
.menu {
    border: 1px solid white;
    background-color: black;
    height: 75px;
    color: white;
    position: ;
}
.content {
    border: 1px solid blue;
    height:100vh;
    display: flex;
}
.content__left {
    background-color:aquamarine;
    width: 15%;
}
.content__center {
    background-color:khaki;
    width: 70%;
}
.content__right {
    background-color:aqua;
    width: 15%;
}
.footer {
    border: 1px solid yellow;
    background-color:blueviolet;
    height: 200px;
}
.support {
    border: 1px solid red;
    width: 150px;
    height: 150px;
}