@import 'normalize.css';

:root {
    --text-color: #333;
    --black-color: #000;
    --white-color: #fff;
    --linear-color: linear-gradient(#00FFFF, #d1e2a0, #FFCCFF);
    --header-color: #FF99FF;
}

* {
    box-sizing: inherit; /* tất cả các thẻ sẽ kế thừa theo thẻ cha của nó */
}

html {
    font-size: 62.5%; /*font chữ mặc định 10 px */
    line-height: 1.5; /* chiều cao mặc đinh*/
    font-family: 'Roboto', sans-serif; /* mặc định là font Roboto, nếu ko có thì dung sang sans-serif*/
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

.grid {
    width: 1200px; /* kích thước tối đa là 1200 với các màn hình lơn hơn*/
    max-width: 100%; /* với kích thước nhỏ hon 1200 thì luôn lấy 100%; */
    margin: 0 auto; /* căn giữa khối trong 1 khối khac theo chiều ngang */
}

.gird__row {
    display: flex; /* sắp xếp các khối dàn hàng ngang */
    flex-wrap: wrap; /* các phẩn tử vượt quá sẽ tự động xuống dòng */
}

.col_3 {
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.col_9 {
    width: 900px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.col_50 {
    width: 50%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_title {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .maincontent {
    min-height: calc(100vh - 250px);
    margin-top: 100px;
    /* margin-bottom: 120px; */
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1200px;
    height: calc(100vh - 300px);
    /* background: rgba(0,0,0,0); */
  }

.btn {
    height: 35px;
    min-width: 100px;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #d1e2a0;
    padding: 0 18px;
}
.btn:hover {
    background-color: #00FFFF;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

